@model IEnumerable<LuxAuto.Models.Autovettura>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
        body {
            background-image: url('/Content/assets/img/background2.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            display: flex;
            flex-direction: column;
            align-items: center; /* Centra i contenuti verticalmente */
        }

        .container {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            width: 100%;
            max-width: 1200px; /* Larghezza massima della pagina */
            margin: 0 auto; /* Centra la pagina orizzontalmente */
        }

        .video-container {
            flex-basis: 50%;
            margin-right: 20px; /* Aggiungi spaziatura tra video e colonne di marchi */
        }

            .video-container video {
                width: 100%;
                height: auto;
            }

        .marchi-container {
            flex-basis: 50%;
            padding: 20px;
            box-sizing: border-box;
        }

        .marchi-list {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        .marchi-list-item {
            flex-basis: calc(50% - 10px);
            margin-bottom: 10px;
        }

            .marchi-list-item a {
                text-decoration: none;
                color: black;
            }
    </style>
</head>

@{
    ViewBag.Title = "ListaCarFiltrate";
}
<body>
    <div class="container">
        <div class="video-container">
            <video autoplay muted playsinline loop>
                <source src="~/Content/assets/video/carfiltratevideo.mp4" type="video/mp4" />
            </video>
        </div>

        <div class="marchi-container">
            <ul class="marchi-list">
                <li class="marchi-list-item"><a href="https://localhost:44308/Marchio/Details/40">Aston Martin</a></li>
                <li class="marchi-list-item"><a href="https://localhost:44308/Marchio/Details/46">Alfa Romeo</a></li>
                <li class="marchi-list-item"><a href="https://localhost:44308/Marchio/Details/48">Brabus</a></li>
                <li class="marchi-list-item"><a href="https://localhost:44308/Marchio/Details/49">Bugatti</a></li>
                <li class="marchi-list-item"><a href="https://localhost:44308/Marchio/Details/62">BMW</a></li>
                <li class="marchi-list-item"><a href="https://localhost:44308/Marchio/Details/50">Ferrari</a></li>
                <li class="marchi-list-item"><a href="https://localhost:44308/Marchio/Details/51">Gumpert</a></li>
                <li class="marchi-list-item"><a href="https://localhost:44308/Marchio/Details/52">Jaguar</a></li>
                <li class="marchi-list-item"><a href="https://localhost:44308/Marchio/Details/54">Lamborghini</a></li>
                <li class="marchi-list-item"><a href="https://localhost:44308/Marchio/Details/55">Maserati</a></li>
                <li class="marchi-list-item"><a href="https://localhost:44308/Marchio/Details/57">Pagani</a></li>
                <li class="marchi-list-item"><a href="https://localhost:44308/Marchio/Details/58">Porsche</a></li>
                <li class="marchi-list-item"><a href="https://localhost:44308/Marchio/Details/62">Bentley</a></li>
                <li class="marchi-list-item"><a href="https://localhost:44308/Marchio/Details/65">McLaren</a></li>
                <li class="marchi-list-item"><a href="https://localhost:44308/Marchio/Details/66">Koenigsegg</a></li>
                <li class="marchi-list-item"><a href="https://localhost:44308/Marchio/Details/60">Ford</a></li>
                <li class="marchi-list-item"><a href="https://localhost:44308/Marchio/Details/61">Audi</a></li>
                <li class="marchi-list-item"><a href="https://localhost:44308/Marchio/Details/59">Rolls-Royce</a></li>
                <!-- Aggiungi gli altri marchi qui -->
            </ul>
        </div>
    </div>

    <div class="container-fluid mt-5 pt-5 text-start text-black">
        <form action="/Autovettura/FilterByMarchio" method="post">
            <label class="text-black text-start ms" for="selectedMarchio">Cerca Auto:</label>
            @Html.DropDownList("selectedMarchio", ViewData["selectedMarchio"] as SelectList, "Seleziona un marchio", new { @class = "form-control text-start" })
            <input type="submit" value="Cerca" class="btn btn-primary mt-2 justify-content-start">
        </form>
    </div>
</body>
</html>
