
@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/assets/cssview/ListaAuto.css" rel="stylesheet" />
    <title>Lux Auto</title>
</head>
<body class="text-black">
    <div class="container-fluid">
        <div class="video-container">
            <video autoplay muted playsinline>
                <source src="~/Content/assets/video/homebackvideo.MP4" type="video/mp4" />
            </video>
        </div>
    </div>
    <div class="header mb-5 ">
        <h1>Benvenuti nel nostro Mondo, dove il lusso è di serie</h1>
        <p>Esplora la perfezione </p>
    </div>
    <div class="image-container d-flex justify-content-evenly">

        <img class="img-fluid" src="https://mcdn.wallpapersafari.com/medium/44/7/lSf4Jk.jpg" />
        <img class="img-fluid" src="~/Content/assets/img/img2.jpg" />
    </div>




    

    <div class="d-flex justify-content-center">
        <div class="main-container ">
            <div class="featured-cars w-50 ">
                <h2>Chi siamo</h2>
                <p>
                    Benvenuti da Lux Auto, la destinazione definitiva per gli amanti delle auto d'élite. Situati nell'affascinante panorama di Dubai, siamo più di un semplice concessionario; siamo un ponte tra il lusso e il vostro desiderio di possederlo.

                    Specializzati in veicoli di prestigio, ci dedichiamo alla selezione delle icone contemporanee come Lamborghini, Ferrari, Bugatti e Koenigsegg, così come alle rarità intramontabili come la Lamborghini Miura e la Veneno. La nostra passione va oltre il semplice commercio: organizziamo aste speciali per edizioni a tiratura limitata, rendendo accessibili a un pubblico più vasto le gemme automobilistiche che hanno fatto la storia.
                </p>
            </div>
            <div class="image-container justify-content-end">
                <img class="w-75 img-fluid " src="https://www.lamborghini.com/sites/it-en/files/DAM/lamborghini/facelift_2019/model_detail/augmented-reality/aventador/svj_rds/ar_aven_svj_rds_01.png" alt="Descrizione dell'immagine">
            </div>
        </div>
    </div>


    <div class="d-flex justify-content-start">
        <div class="main-container">
            <div class="image-container justify-content-start">
                <img class="w-75 img-fluid" src="https://images.alphacoders.com/112/1121517.jpg" alt="Descrizione dell'immagine">
            </div>
            <div class="featured-cars w-50 ">
                <h2>Il nostro obiettivo</h2>
                <p>La nostra offerta abbraccia una vasta varietà di veicoli, che spaziano dalle ultime novità del settore a autentiche perle da collezione. Siamo qui per soddisfare l'appetito degli appassionati di motori, offrendo un servizio che va oltre la vendita di auto, ma che si estende all'esplorazione di storie uniche e al godimento di autentici capolavori su quattro ruote. Con Lux Auto, rendiamo il lusso automobilistico una realtà per chiunque condivida la nostra passione.</p>
            </div>
        </div>
    </div>



</body>
</html>
